@font-face {
  font-family: "iconfont-zr"; /* Project id 4667883 */
  src: url('iconfont.woff2?t=1726019190919') format('woff2'),
       url('iconfont.woff?t=1726019190919') format('woff'),
       url('iconfont.ttf?t=1726019190919') format('truetype');
}

@font-face {
  font-family: "iconfont-zyy"; /* Project id 4667883 */
  src: url('iconfont.woff2?t=1724899919297') format('woff2'),
       url('iconfont.woff?t=1724899919297') format('woff'),
       url('iconfont.ttf?t=1724899919297') format('truetype');
}

.iconfont-zr {
  font-family: "iconfont-zr" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1e21;
  border-color: #1c1e21;
}

.iconfont-zyy {
  font-family: "iconfont-zyy" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #202326;
   border-color: #202326;
}

.icon-zrxiangqing:before {
  content: "\e626";
}

.icon-zrxiangqing1:before {
  content: "\e8a0";
}

.icon-zryanjing-kai_1:before {
  content: "\e797";
}

.icon-zrxiazai:before {
  content: "\e63a";
}

.icon-zyyyanjing-kai_1:before {
  content: "\e797";
}

.icon-zyyxiazai:before {
  content: "\e63a";
}

